{{extend 'layout.html'}}
<script type="text/javascript">

$(document).ready(function() {
var emails = [
    { name: "Peter Pan", to: "peter@pan.de" },
    { name: "Molly", to: "molly@yahoo.com" },
    { name: "Forneria Marconi", to: "live@japan.jp" },
    { name: "Master <em>Sync</em>", to: "205bw@samsung.com" },
    { name: "Dr. <strong>Tech</strong> de Log", to: "g15@logitech.com" },
    { name: "Don Corleone", to: "don@vegas.com" },
    { name: "Mc Chick", to: "info@donalds.org" },
    { name: "Donnie Darko", to: "dd@timeshift.info" },
    { name: "Quake The Net", to: "webmaster@quakenet.org" },
    { name: "Dr. Write", to: "write@writable.com" }
];

var num = ["a1","a2","a3","a4"];
var num2 = [["a1","1","-1"],["a2","2","-2"],["a3","3","-3"],["a4","4","-4"]];

    $("#suggest13").autocomplete(emails, {
        minChars: 0,
        width: 310,
        matchContains: true,
        autoFill: false,
        formatItem: function(row, i, max) {
            return i + "/" + max + ": \"" + row.name + "\" [" + row.to + "]";
        },
        formatMatch: function(row, i, max) {
            return row.name + " " + row.to;
        },
        formatResult: function(row) {
            return row.name + " " + row.to;
        }
    });

	$("#suggest13").result(function(event, data, formatted) {
		if (data)
			$(this).parent().next().find("input").val(data["to"]);
			$("#hi").val(data["to"]);
	});

	$("#singleBirdRemote").autocomplete("/{{=request.application}}/members/sresult", {
		width: 260,
        minChars: 1,
        matchContains: true,
        autoFill: false,
		selectFirst: false
	});

	$("#singleBirdRemote").result(function(event, data, formatted) {
		if (data)
			$(this).parent().next().find("input").val(data[1]);
			$("#hi").val(data[2]);
	});


});
</script>


	<form autocomplete="off">
		<p>
			<label>E-Mail (local):</label>

			<input type="text" id="suggest13" />
			<input type="button" value="Get Value" />
		</p>

		<p>
			<label>Hidden input</label>
			<input />
		</p>
		<p>
			<label>Single Bird (remote):</label>
			<input type="text" id="singleBirdRemote" />
			<input type="button" value="Get Value" />
		</p>

		<p>
			<label>Hidden input</label>
			<input />
		</p>
		<p>
			<label>Hidden input</label>
			<input id="hi" />
		</p>
	</form>


{{=output}}

