<html>
<meta http-equiv='content-type' content='text/html; charset=utf-8'>
<style>
@font-face { font-family:'code2000'; src:url('code2000.ttf'); } 
@font-face { font-family:'kai'; src:url('kai.ttf'); }
@page { size: a4 landscape; margin: 2cm; }
html { font-family: Helvetica; font-size: 20px; } 
</style>
<body>

<div>Hello <b>world</b>{{=name}}</div>
<div style='font-family:kai;'>Hello <b>world</b></div>
<div style='font-family:kai;'>Hello <b>world</b></div>
<br/><br/>
<div><pdf:nextpage/></div>

<div style='font-family:kai;'>Hello <b>world</b></div>

</body>
</html>
