{{extend 'layout.html'}}

{{if session.errors:}}
<h1>Debug Info</h1>
{{for key in ['settings','models','procedures']:}}
{{if session.errors.has_key(key):}}
<h2>{{=key.capitalize()}}</h2>
{{=session.errors[key]}}
{{pass}}
{{pass}}
{{pass}}

<h1>Configure {{=request.args[0].capitalize()}}</h1>

<script language="Javascript" type="text/javascript" src="/{{=request.application}}/static/scripts/edit_area/edit_area_full.js"></script><script language="Javascript" type="text/javascript">
$(document).ready(function(){
$('textarea').attr('cols','100').attr('rows','40');
editAreaLoader.init({id: "configuration_{{=request.args[0]}}",start_highlight: true,allow_resize: "both",allow_toggle: true,language: "en",syntax: "PYTHON",replace_tab_by_spaces: 4});
});
</script>

{{=form}}